<p>{l s='information  du paiment du module' mod='orangemoney'}</p>
{l s='Votre commande sur %s est completée.' sprintf=[$shop_name] mod='orangemoney'}<br/>
<p>{$payment_details}</p>
<p>{$custom_var}</p>